*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
#parent div {
    padding: 40px;
}
.item1 {
    background: red;
    grid-area: a;
}
.item2 {
    background-color: yellow;
    grid-area: b;
}
.item3 {
    background-color: green;
    grid-area: c;
}
.item4 {
    background-color: blue;
    grid-area: d;
}
.item5 {
    background-color: lightblue;
    grid-area: e;
}
#parent {
    display: grid;
    grid-template-areas: 
    'a a b'
     'c d d' 
     'c e e';
    gap: 10px;
}


